# /etc/systemd/system/eusbip_autobind.service

[Unit]
Description=USB-IP Daemon
After=network.target

[Service]
ExecStart=/home/pi/eusbip/venv/bin/eusbip autobind --device 1-1.1.2
Restart=always

[Install]
WantedBy=multi-user.target
